@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
* {
  background: #929192;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 20px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.461);
  border-radius: 5px;
}
.navbar {
  background-color: rgb(185, 179, 179);
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 93px;
  margin: 0;
}
.artist {
  font-weight: bold;
  margin-top: 20px;
  color: rgb(51, 255, 0);
  background: transparent;
  font-size: 20px;
}
.heading {
  display: contents;
  text-align: center;
}
.song {
  font-weight: bold;
  color: rgb(236, 195, 61);
  background: transparent;
  font-size: 20px;
  margin-top: 20px;
}
.lyrics {
  font-weight: bold;
  color: #131622;
  background: transparent;
  font-size: 20px;
}
.com {
  color: rgb(45, 45, 45);
  background: transparent;
  padding-top: 17px;
}
h1 {
  color: aliceblue;
}
h1:hover {
  color: #216ab3;
}
a,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}
.lyrics_para {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}
h1,
h4 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}
.list-box {
  border: 1px solid rgb(138, 138, 138);
  border-radius: 3px;
  min-width: 25rem;
  margin-bottom: 3px;
  padding-left: 5px;
}
ul {
  justify-content: center;
  display: grid;
}

li.current {
  background-color: #007dfa;
}
